@import 'modules/variables';
@import 'modules/fonts';
@import 'modules/header';
@import 'modules/navBar';
@import 'modules/avisosHome';
@import 'modules/modals';
@import 'modules/detalleTipologia';
@import 'modules/inputs';
@import 'modules/table';
@import 'modules/buttons';
@import 'modules/detalleAviso';
@import 'modules/alerts';
@import 'modules/errors'; 

* {
    padding: 0px;
    margin: 0px;
    font-size: $text !important;
}

body {
    font-family: $regular !important;
    background-color: $white_color;
    color: $text_color;
}

.wrap {
    width: calc(100% - 70px);
    margin-left: 70px;
    padding: 70px 0px 0 0px; //70px 30px 0 120px;
    position: relative;
    @media (max-width: $portrair_smart) {
        width: 100%;
        margin: 0;
    }
    .container {
        margin-top: 30px;
        width: 90%;
        margin-left: 5%;
        &.-ldg {
            margin-top: 0;
        }
        .encabezado {
            position: relative;
            &.-ctm {
                h1 {
                    vertical-align: middle;
                    margin-left: 50px;
                    margin-top: 4px;
                }
            }
            h1 {
                color: $aqua_color;
                font-family: $light;
                font-size: 24px !important;
                margin: 0;
                margin-right: 10px;
                text-transform: uppercase;
                display: inline-block;
                > .bold {
                    font-size: 24px !important;
                    font-family: $bold;
                }
            }
            h2 {
                margin-top: 0px;
                margin-bottom: 0px;
                color: $aqua_color;
                font-family: $regular;
                font-size: 24px !important;
                display: inline-block;
            }
            hr {
                &.divider {
                    margin-top: 10px;
                }
                &.-tabs {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

hr {
    &.divider {
        border-color: $gray_color;
    }
}

.loading-content {
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $white_color;
    left: 0;
    z-index: 99;
    > img {
        padding-top: 180px;
    }
}

p {
    &.note {
        color: $text_color;
        font-family: $light;
        margin-bottom: 0;
        > span {
            &.bold {
                font-family: $bold;
            }
        }
    }
    &.-ifNote {
        padding: 10px 0px;
        display: none;
        @media (max-width: 1099px) {
            display: block;
        }
    }
    &.-ifPeople {
        padding: 10px 0px;
        display: none;
        @media (max-width: 1260px) {
            display: block;
        }
    }
    &.-ifPlan {
        padding: 10px 0px;
        display: none;
        @media (max-width: 980px) {
            display: block;
        }
    }
}

.bs-datepicker-container {
    .bs-calendar-container {
        .bs-media-container {
            .bs-datepicker-head {
                background-color: $blue_color;
                .current {
                    font-size: $text;
                    font-family: $regular;
                }
            }
            .bs-datepicker-body {
                .days {
                    &.weeks {
                        thead {
                            > tr {
                                th {
                                    font-family: $regular;
                                }
                            }
                        }
                        tbody {
                            > tr {
                                td {
                                    &.week {
                                        display: none;
                                    }
                                    .selected {
                                        background-color: $blue_color;
                                    }
                                    .select-start {
                                        background-color: $blue_color;
                                        &.selected {
                                            background-color: $blue_color;
                                        }
                                    }
                                    .select-end {
                                        background-color: $blue_color;
                                        &.selected {
                                            background-color: $blue_color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                } 
            }
        }
    }
}