<div class="modal-body" *ngIf="tipo == 'alerta'">
    <div class="content">        
        <div class="cont-msg">
            <div class="icon-cont">
                <i class="fas {{class}}"></i>
            </div>
            <p>{{message}}</p>
            <button *ngIf="class == 'fa-check-circle'" class="button primary save" (click)="irPantallaInicial()">Aceptar</button>
            <button *ngIf="class != 'fa-check-circle'" class="button primary save" (click)="onCancel()">Aceptar</button>
        </div>
    </div>
</div>
<div *ngIf="tipo == 'confirm'">
 <div class="modal-header">
    <div class="iconModal">
      <i class="fas fa-exclamation"></i>
    </div>
    <h4 class="modal-title pull-left"><span class="bold">Cuidado</span></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="content">
      <p>Ha intentado salir de esta página. Si ha realizado algún cambio en los campos sin hacer clic en el botón Guardar, los cambios se perderán. ¿Está Seguro que desea salir?</p>
      <button class="button primary save" (click)="irGestionAvisos()">Si</button>
      <button class="button primary cancel" (click)="onCancel()">No</button>
    </div>
  </div>
</div>