<div class="wrap">
  <div class="container">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="fieldRead">
        <div class="encabezado -ctm">
          <button class="button primary custom -back" (click)="confirm()">
            <i class="fas fa-angle-left"></i>
          </button>
          <h1>
            <span class="bold">Detalle de la </span> Tarjeta</h1>
          <hr class="divider">
        </div>
        <div class="det-content">
          <div class="field col-sm-6 col-md-4">
            <div class="form-group">
              <label>No Tarjeta: *</label>
              <input type="text" (keypress)="setTime($event)" [textMask]="getMask()" maxlength="50" class="form-control" [(ngModel)]="tarjeta.numeroTarjeta">
            </div>
            <div *ngIf="!tarjeta.numeroTarjeta && objvalidacion['numeroTarjeta']" class="alert alert-danger">
              <div class="arrow"></div>
              Este campo es obligatorio
            </div>
          </div>
          <div class="field col-sm-6 col-md-4">
            <div class="form-group">
              <label>Ccv:</label>
              <input type="text" class="form-control" [(ngModel)]="tarjeta.ccv">
            </div>
          </div>
          <div class="field col-sm-6 col-md-4">
            <div class="form-group">
              <label>Tipo tarjeta:</label>
              <input type="text" class="form-control" [(ngModel)]="tarjeta.tipoTarjeta">
            </div>
          </div>       
        </div>
      </div>   
      
      <div class="tab-pane fade in active" id="fieldEdit">        
        <div class="det-content">
          <h2><i class="fas fa-user"></i><span class="bold">Consumos</span></h2>          
          <div class="field col-sm-6 col-md-4">
            <div class="form-group">
              <label>Descripción:</label>
              <input type="text" class="form-control" [(ngModel)]="consumo.descripcionv">
            </div>
          </div>
          <div class="field col-sm-6 col-md-4">
            <div class="form-group">
              <label>Monto:</label>
              <input type="text" class="form-control" [(ngModel)]="consumo.monto">
            </div>
          </div> 
          <div class="field col-sm-6 col-md-4">
              <div class="form-group">
                <label>Fecha consumo:</label>
                <input class="form-control filter-table date" placeholder="DD-MM-YYYY" #drp="bsDatepicker" bsDatepicker
                  [bsConfig]="bsConfig" placement="left" [(ngModel)]="consumo.fechaConsumo">
              </div>
            </div> 
          <div class="btn-cont">
              <div class="btn-cont">
                <button type="button" class="button primary save" (click)="agregarConsumo()">Agregar consumo</button>              
              </div>            
            </div>     
          <div class="tab-table">
            <p class="note -ifPeople">Para visualizar la tabla completamente 
              <span class="bold">mueva el scroll horizontalmente</span></p>
            <p-table class="table" [columns]="colsHeader" [value]="tarjeta.consumos" [scrollable]="true" 
              scrollHeight="200px">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" class="ui-thead-simple ui-thead-detail">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns" class="ui-tbody-simple ui-tbody-detail">
                    <!-- <span class="ui-column-title">{{col.header}}</span> -->
                    {{rowData[col.field]}}
                    <i *ngIf="col.field === 'delete'" (click)="eliminarConsumo(rowData)" class="fas fa-trash" tooltip="Eliminar registro" 
                      tooltipAppendToBody="true"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>            
          </div> 
          <div class="btn-cont">
            <div class="btn-cont">
              <button type="button" class="button primary save" (click)="enviar()">{{accion}}</button>              
            </div>            
          </div>     
    </div>    
  </div>
</div>