@charset "UTF-8";
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
header {
  background-color: #fff;
  width: 100%;
  height: 70px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 999;
}
header > div .menu-mobile {
  position: relative;
  display: none;
  width: 70px;
  text-align: center;
  vertical-align: middle;
  background-color: #0033A0;
}
@media (max-width: 460px) {
  header > div .menu-mobile {
    display: inline-block;
  }
}
header > div .menu-mobile i.fas {
  font-size: 20px !important;
  padding: 25px 0px;
  color: #fff;
  transition: all 0.25s ease;
}
@media (max-width: 460px) {
  header > div .menu-mobile i.fas {
    transition: all 0.25s ease;
  }
}
header > div .logo {
  height: 70px;
  padding: 35px;
  border-right: 1px solid #fff;
  display: inline-block;
  vertical-align: middle;
  background-color: #0033A0;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
@media (max-width: 460px) {
  header > div .logo {
    background-color: #fff;
    padding: 10px 0px;
    transition: all 0.25s ease;
  }
}
header > div > h5 {
  font-family: "Roboto-Light";
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  color: #898b8b;
  font-size: 18px !important;
  transition: all 0.25 ease;
}
@media (max-width: 740px) {
  header > div > h5 {
    margin-left: 20px;
    transition: all 0.25 ease;
  }
}
@media (max-width: 460px) {
  header > div > h5 {
    font-size: 16px !important;
    margin-left: 0;
    transition: all 0.25 ease;
  }
}
header > div > h5 > span {
  font-family: "Roboto-Bold";
  font-size: 18px !important;
  transition: all 0.25 ease;
}
@media (max-width: 460px) {
  header > div > h5 > span {
    display: -webkit-box;
    transition: all 0.25 ease;
    font-size: 16px !important;
  }
}
header > div .user {
  float: right;
  position: relative;
  top: 15px;
  padding-right: 40px;
}
header > div .user:hover {
  cursor: pointer;
}
@media (max-width: 740px) {
  header > div .user {
    top: 10px;
  }
}
@media (max-width: 700px) {
  header > div .user {
    top: 15px;
  }
}
@media (max-width: 460px) {
  header > div .user {
    padding-right: 20px;
  }
}
header > div .user .name {
  vertical-align: middle;
  display: inline-block;
  text-align: right;
}
@media (max-width: 700px) {
  header > div .user .name {
    display: none;
  }
}
header > div .user .name > h5 {
  font-size: 14px !important;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
}
header > div .user .name > h6 {
  margin: 0px;
  font-size: 12px !important;
}
@media (max-width: 740px) {
  header > div .user .name > h6 span {
    display: block;
  }
}
header > div .user .name > h6 span.bold {
  font-size: 12px !important;
  font-family: "Roboto-Bold";
}
header > div .user .iconUser {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
}
@media (max-width: 670px) {
  header > div .user .iconUser {
    margin-left: 0px;
  }
}
header > div .user .iconUser > i.fas {
  font-size: 40px !important;
}
@media (max-width: 700px) {
  header > div .user .iconUser > i.fas {
    display: inline-block;
  }
}
@media (max-width: 700px) {
  header > div .user .fas {
    display: none;
  }
}
header > div .user .fas.fa-angle-down {
  color: #898b8b;
  vertical-align: middle;
  margin-left: 10px;
}
header > div .user .userOptions {
  background-color: #fff;
  padding: 5px 15px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 70px;
  z-index: 9991;
  border-radius: 5px;
  min-width: 150px;
  right: 30px;
}
@media (max-width: 700px) {
  header > div .user .userOptions {
    width: 260px;
  }
}
@media (max-width: 460px) {
  header > div .user .userOptions {
    padding-right: 10px;
    right: 10px;
  }
}
header > div .user .userOptions .arrow {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  right: 20px;
  transform: rotate(45deg);
}
header > div .user .userOptions ul {
  margin: 0px;
}
header > div .user .userOptions ul li {
  list-style: none;
  line-height: 30px;
  transition: all 0.3s;
  opacity: 0.5;
}
@media (max-width: 700px) {
  header > div .user .userOptions ul li {
    opacity: 1;
  }
}
header > div .user .userOptions ul li.mb-option {
  display: none;
}
header > div .user .userOptions ul li.mb-option > span {
  display: block;
}
header > div .user .userOptions ul li.mb-option > span.bold {
  font-family: "Roboto-Bold";
}
@media (max-width: 700px) {
  header > div .user .userOptions ul li.mb-option {
    display: block;
  }
  header > div .user .userOptions ul li.mb-option:nth-child(2) {
    border-bottom: 1px solid #898b8b;
  }
}
header > div .user .userOptions ul li > a {
  text-decoration: none;
  color: #898b8b;
}
header > div .user .userOptions ul li:hover {
  transition: all 0.3s;
  padding-left: 5px;
  opacity: 1;
}

.menuBar {
  background-color: #e2e2e2;
  width: 70px;
  z-index: 999;
  position: fixed;
  top: 70px;
  left: 0px;
  bottom: 0px;
  transition: all 0.25s ease;
}
@media (max-width: 460px) {
  .menuBar {
    left: -100%;
    transition: all 0.25s ease;
  }
  .menuBar.-open {
    left: 0px;
    box-shadow: 10px 3px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease;
  }
}
.menuBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menuBar ul.li-top li {
  width: 100%;
  height: 70px;
  position: relative;
  background-color: #e2e2e2;
}
.menuBar ul.li-top li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #898b8b;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  padding: 23px;
}
.menuBar ul.li-top li a i.fas {
  font-size: 20px !important;
  color: #898b8b;
}
.menuBar ul.li-top li a.active > .borderRight {
  height: 30px;
  background-color: #00aec7;
  width: 3px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 20px;
}
.menuBar ul.li-top li a.active i.fas {
  color: #00aec7;
}
.menuBar ul.li-top li a.active:hover i.fas {
  opacity: 1;
}
.menuBar ul.li-top li a.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.menuBar ul.li-top li a.disabled:hover i.fas {
  color: #898b8b;
  opacity: 1;
}
.menuBar ul.li-top li a:hover i.fas {
  color: #00aec7;
  opacity: 0.5;
}
.menuBar ul.li-top > .tooltip.right .tooltip-inner {
  max-width: 350px;
  white-space: nowrap;
}

.container.top > .row .card {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  cursor: pointer;
}
.container.top > .row .card.disabled {
  cursor: not-allowed;
  background-color: #e2e2e2 !important;
}
.container.top > .row .card.disabled > .iconCard {
  border-color: #898b8b !important;
}
.container.top > .row .card.disabled > .iconCard .fas {
  color: #898b8b !important;
}
.container.top > .row .card.disabled > h3, .container.top > .row .card.disabled h5, .container.top > .row .card.disabled h1, .container.top > .row .card.disabled span {
  color: #898b8b !important;
}
.container.top > .row .card.disabled > .divider {
  border-color: #898b8b !important;
}
.container.top > .row .card.-cardAq {
  background-color: #00aec7;
}
.container.top > .row .card.-cardAq > .iconCard {
  border: 1px solid #32dcff;
}
.container.top > .row .card.-cardAq > .iconCard .fas {
  color: #32dcff;
}
.container.top > .row .card.-cardAq > h3 {
  color: #32dcff;
  font-size: 24px !important;
}
.container.top > .row .card.-cardBl {
  background-color: #0033A0;
}
.container.top > .row .card.-cardBl > .iconCard {
  border: 1px solid #00aec7;
}
.container.top > .row .card.-cardBl > .iconCard .fas {
  color: #00aec7;
}
.container.top > .row .card.-cardBl > h3 {
  color: #00aec7;
  font-size: 24px !important;
}
.container.top > .row .card > .iconCard {
  display: block;
  border-radius: 5px;
  width: 70px;
  text-align: center;
  margin-bottom: 20px;
}
.container.top > .row .card > .iconCard i.fas {
  font-size: 30px !important;
  padding: 20px;
}
@media (max-width: 767px) {
  .container.top > .row .card > .iconCard {
    float: right;
  }
}
.container.top > .row .card > h3, .container.top > .row .card h1, .container.top > .row .card h5 {
  margin: 0;
}
.container.top > .row .card > h3 {
  text-transform: uppercase;
  font-family: "Roboto-Bold";
}
.container.top > .row .card > h1 {
  color: #fff;
  font-family: "Roboto-Bold";
  font-size: 70px !important;
}
.container.top > .row .card > h5 {
  font-family: "Roboto-Light";
  color: #fff;
}
.container.top > .row .card > .divider {
  border-color: #32dcff;
  margin-top: 10px;
  margin-bottom: 5px;
}
.container.top > .row .card > span.date {
  color: #fff;
  font-family: "Roboto-Light";
  font-size: 12px !important;
  display: block;
  text-align: right;
}

.modal .modal-dialog {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.modal .modal-dialog.modal-tipologia {
  max-width: 970px;
}
.modal .modal-dialog.modal-tipologia > .modal-content {
  border-radius: 0px;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-header {
  padding: 16px 15px;
  background-color: #e2e2e2;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-header .iconModal {
  position: absolute;
  padding: 20px;
  width: 70px;
  height: auto;
  background-color: #27aac5;
  top: 0;
  left: 0;
}
@media (max-width: 460px) {
  .modal .modal-dialog.modal-tipologia > .modal-content .modal-header .iconModal {
    padding: 17px;
    max-width: 60px;
  }
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-header .iconModal i.fas {
  font-size: 24px !important;
  color: #32dcff;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-header .modal-title.pull-left {
  float: none !important;
  display: inline-block;
  margin-left: 70px;
  color: #898b8b;
  font-family: "Roboto-Light";
  font-size: 24px !important;
}
@media (max-width: 460px) {
  .modal .modal-dialog.modal-tipologia > .modal-content .modal-header .modal-title.pull-left {
    font-size: 20px !important;
    margin-left: 60px;
  }
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-header .modal-title.pull-left .bold {
  font-family: "Roboto-Bold";
  font-size: 24px !important;
}
@media (max-width: 460px) {
  .modal .modal-dialog.modal-tipologia > .modal-content .modal-header .modal-title.pull-left .bold {
    font-size: 20px !important;
  }
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-header .pull-right {
  float: none !important;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-header .pull-right > span {
  font-size: 24px !important;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row {
  margin: 20px 0px;
  width: 94%;
  margin-left: 3%;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row > .col-sm-12 {
  padding: 0px;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row > .col-sm-12 > .col-md-4 {
  padding: 0px 10px;
}
@media (max-width: 488px) {
  .modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row > .col-sm-12 > .col-md-4 {
    width: 100%;
    padding: 0;
  }
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .loading {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type {
  width: 100%;
  display: inline-block;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type.option {
  background-color: #e2e2e2;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type.option > .iconType {
  border-radius: 5px;
  border: 1px solid #00aec7;
  width: auto;
  display: inline-block;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type.option > .iconType i.fas {
  color: #00aec7;
  padding: 10px;
  font-size: 35px !important;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type.option > .stats {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
@media (max-width: 676px) {
  .modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type.option > .stats {
    display: block;
    margin-left: 0px;
    margin-top: 15px;
  }
}
@media (max-width: 488px) {
  .modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type.option > .stats {
    display: inline-block;
    margin-left: 15px;
    margin-top: 0;
  }
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type.option > .stats > h5 {
  font-size: 12px !important;
  font-family: "Roboto-Bold";
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 5px;
  display: block;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type.option > .stats > h3 {
  margin: 0;
  display: inline-block;
  font-size: 35px !important;
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type.option > .stats > h3.number {
  font-family: "Roboto-Bold";
}
.modal .modal-dialog.modal-tipologia > .modal-content .modal-body > .row .type.option > .stats > h3.idSAP {
  font-family: "Roboto-Light";
  border-left: 1px solid #898b8b;
  margin-left: 10px;
  padding-left: 10px;
}
.modal .modal-dialog.modal-refuse {
  max-width: 500px;
}
.modal .modal-dialog.modal-refuse > .modal-content {
  border-radius: 0px;
}
.modal .modal-dialog.modal-refuse > .modal-content .modal-header {
  padding: 16px 15px;
  background-color: #e2e2e2;
}
.modal .modal-dialog.modal-refuse > .modal-content .modal-header .iconModal {
  position: absolute;
  padding: 20px;
  width: 70px;
  height: auto;
  background-color: #27aac5;
  top: 0;
  left: 0;
  text-align: center;
}
@media (max-width: 460px) {
  .modal .modal-dialog.modal-refuse > .modal-content .modal-header .iconModal {
    padding: 17px;
    max-width: 60px;
  }
}
.modal .modal-dialog.modal-refuse > .modal-content .modal-header .iconModal i.fas {
  font-size: 24px !important;
  color: #32dcff;
}
.modal .modal-dialog.modal-refuse > .modal-content .modal-header .modal-title.pull-left {
  float: none !important;
  display: inline-block;
  margin-left: 70px;
  color: #898b8b;
  font-family: "Roboto-Light";
  font-size: 24px !important;
}
@media (max-width: 460px) {
  .modal .modal-dialog.modal-refuse > .modal-content .modal-header .modal-title.pull-left {
    font-size: 20px !important;
    margin-left: 60px;
  }
}
.modal .modal-dialog.modal-refuse > .modal-content .modal-header .modal-title.pull-left .bold {
  font-family: "Roboto-Bold";
  font-size: 24px !important;
}
@media (max-width: 460px) {
  .modal .modal-dialog.modal-refuse > .modal-content .modal-header .modal-title.pull-left .bold {
    font-size: 20px !important;
  }
}
.modal .modal-dialog.modal-refuse > .modal-content .modal-header .pull-right {
  float: none !important;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal .modal-dialog.modal-refuse > .modal-content .modal-header .pull-right > span {
  font-size: 24px !important;
}
.modal .modal-dialog.modal-refuse > .modal-content .modal-body .content .form-group > label {
  font-family: "Roboto-Regular";
  font-weight: normal;
  color: #898b8b;
}
.modal .modal-dialog.modal-refuse > .modal-content .modal-body .content .form-group > label > span.bold {
  color: #0033A0;
  font-family: "Roboto-Bold";
  font-size: 16px !important;
}
.modal .modal-dialog.modal-msg-alert {
  max-width: 500px;
}
.modal .modal-dialog.modal-msg-alert > .modal-content {
  border-radius: 0px;
}
.modal .modal-dialog.modal-msg-alert > .modal-content .content {
  text-align: center;
}
.modal .modal-dialog.modal-msg-alert > .modal-content .content .icon-cont {
  width: 100%;
  text-align: center;
  padding: 10px 0px 20px 0px;
}
.modal .modal-dialog.modal-msg-alert > .modal-content .content .icon-cont i.fas {
  font-size: 100px !important;
  color: #0033A0;
}
.modal .modal-dialog.modal-msg-alert > .modal-content .content .icon-cont i.fas.fa-times-circle {
  color: #F10C0C;
}
.modal .modal-dialog.modal-msg-alert > .modal-content .content p {
  margin-bottom: 20px;
}
.modal .modal-dialog.modal-search {
  max-width: 700px;
}
.modal .modal-dialog.modal-search > .modal-content {
  border-radius: 0px;
}
.modal .modal-dialog.modal-search > .modal-content .modal-header {
  padding: 16px 15px;
  background-color: #e2e2e2;
}
.modal .modal-dialog.modal-search > .modal-content .modal-header .iconModal {
  position: absolute;
  padding: 20px;
  width: 70px;
  height: auto;
  background-color: #27aac5;
  top: 0;
  left: 0;
}
@media (max-width: 460px) {
  .modal .modal-dialog.modal-search > .modal-content .modal-header .iconModal {
    padding: 17px;
    max-width: 60px;
  }
}
.modal .modal-dialog.modal-search > .modal-content .modal-header .iconModal i.fas {
  font-size: 24px !important;
  color: #32dcff;
}
.modal .modal-dialog.modal-search > .modal-content .modal-header .modal-title {
  position: relative;
}
.modal .modal-dialog.modal-search > .modal-content .modal-header .modal-title.pull-left {
  float: none !important;
  display: inline-block;
  margin-left: 70px;
  color: #898b8b;
  font-family: "Roboto-Light";
  font-size: 24px !important;
}
@media (max-width: 460px) {
  .modal .modal-dialog.modal-search > .modal-content .modal-header .modal-title.pull-left {
    font-size: 20px !important;
    margin-left: 60px;
  }
}
.modal .modal-dialog.modal-search > .modal-content .modal-header .modal-title.pull-left .bold {
  font-family: "Roboto-Bold";
  font-size: 24px !important;
}
@media (max-width: 460px) {
  .modal .modal-dialog.modal-search > .modal-content .modal-header .modal-title.pull-left .bold {
    font-size: 20px !important;
  }
}
.modal .modal-dialog.modal-search > .modal-content .modal-header .pull-right {
  float: none !important;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal .modal-dialog.modal-search > .modal-content .modal-header .pull-right > span {
  font-size: 24px !important;
}
.modal .modal-dialog.modal-search > .modal-content .modal-body .content > .row .field > .form-group > label {
  font-family: "Roboto-Regular";
  font-weight: normal;
  color: #898b8b;
}
.modal .modal-dialog.modal-search > .modal-content .modal-body .content > .row .field > .form-group > input[type=text] {
  color: #898b8b;
}
.modal .modal-dialog.modal-search > .modal-content .modal-body .content > .row .field > .form-group > select {
  color: #898b8b;
}

.estadosSAP {
  position: relative;
}
.estadosSAP > ul {
  width: auto;
  display: inline-block;
}
@media (max-width: 1095px) {
  .estadosSAP > ul {
    display: block;
  }
}
.estadosSAP > ul.list-tab-estados {
  list-style-type: none;
}
.estadosSAP > ul.list-tab-estados > li {
  min-width: 100px;
  border-left: 1px solid #e2e2e2;
  display: inline-block;
  transition: all 0.2s ease;
  margin-bottom: 3px;
  cursor: pointer;
}
@media (max-width: 851px) {
  .estadosSAP > ul.list-tab-estados > li {
    min-width: auto;
    width: 16.66%;
    border-top: 3px solid #fff;
    border-bottom: 2px solid #27aac5;
  }
}
@media (max-width: 670px) {
  .estadosSAP > ul.list-tab-estados > li {
    width: 14%;
  }
}
@media (max-width: 420px) {
  .estadosSAP > ul.list-tab-estados > li {
    width: 12%;
  }
}
.estadosSAP > ul.list-tab-estados > li:last-child {
  border-right: 1px solid #e2e2e2;
}
.estadosSAP > ul.list-tab-estados > li > a {
  text-decoration: none;
  color: #0033A0;
  display: block;
  padding: 0 10px;
  position: relative;
}
@media (max-width: 851px) {
  .estadosSAP > ul.list-tab-estados > li > a {
    padding: 5px 0px;
    text-align: center;
    min-height: 42px;
  }
}
.estadosSAP > ul.list-tab-estados > li > a > .iconTab {
  display: inline-block;
  vertical-align: middle;
}
.estadosSAP > ul.list-tab-estados > li > a > .iconTab i.fas {
  font-size: 24px !important;
}
@media (max-width: 460px) {
  .estadosSAP > ul.list-tab-estados > li > a > .iconTab i.fas {
    font-size: 18px !important;
  }
}
.estadosSAP > ul.list-tab-estados > li > a > .iconTab > .badge {
  background-color: #fff;
  border: 1px solid #0033A0;
  font-family: "Roboto-Bold";
  position: absolute;
  font-weight: normal;
  font-size: 12px !important;
  right: -10px;
  top: -5px;
  display: none;
  color: #0033A0;
  transition: all 0.25s ease;
}
@media (max-width: 851px) {
  .estadosSAP > ul.list-tab-estados > li > a > .iconTab > .badge {
    display: block;
  }
}
.estadosSAP > ul.list-tab-estados > li > a > .estado {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}
@media (max-width: 851px) {
  .estadosSAP > ul.list-tab-estados > li > a > .estado {
    display: block;
    margin-left: 0;
  }
}
.estadosSAP > ul.list-tab-estados > li > a > .estado p {
  color: #9ea2a3;
  font-family: "Roboto-Light";
  margin-bottom: 0px;
  font-size: 12px !important;
}
@media (max-width: 670px) {
  .estadosSAP > ul.list-tab-estados > li > a > .estado p {
    display: none;
  }
}
.estadosSAP > ul.list-tab-estados > li > a > .estado > span.-num {
  font-size: 18px !important;
  font-family: "Roboto-Bold";
  color: #00aec7;
}
@media (max-width: 670px) {
  .estadosSAP > ul.list-tab-estados > li > a > .estado > span.-num {
    display: none;
  }
}
.estadosSAP > ul.list-tab-estados > li.active {
  background-color: #27aac5;
  transition: all 0.2s ease;
}
@media (max-width: 851px) {
  .estadosSAP > ul.list-tab-estados > li.active {
    background-color: #fff;
    border: 2px solid #27aac5;
    border-bottom-color: #fff;
    transition: all 0.2s ease;
  }
}
@media (max-width: 670px) {
  .estadosSAP > ul.list-tab-estados > li.active {
    max-width: 151px;
    width: 30%;
  }
}
@media (max-width: 420px) {
  .estadosSAP > ul.list-tab-estados > li.active {
    width: 40%;
  }
}
.estadosSAP > ul.list-tab-estados > li.active > a > .iconTab i.fas {
  color: #fff;
  transition: all 0.2s ease;
}
@media (max-width: 851px) {
  .estadosSAP > ul.list-tab-estados > li.active > a > .iconTab i.fas {
    color: #0033A0;
  }
}
@media (max-width: 460px) {
  .estadosSAP > ul.list-tab-estados > li.active > a > .iconTab i.fas {
    font-size: 20px !important;
  }
}
.estadosSAP > ul.list-tab-estados > li.active > a > .iconTab > .badge {
  display: none;
}
@media (max-width: 670px) {
  .estadosSAP > ul.list-tab-estados > li.active > a > .estado {
    display: inline-block;
    margin-left: 15px;
    text-align: left;
  }
}
.estadosSAP > ul.list-tab-estados > li.active > a > .estado p, .estadosSAP > ul.list-tab-estados > li.active > a > .estado > .-num {
  color: #fff;
  transition: all 0.2s ease;
}
@media (max-width: 851px) {
  .estadosSAP > ul.list-tab-estados > li.active > a > .estado p, .estadosSAP > ul.list-tab-estados > li.active > a > .estado > .-num {
    color: #0033A0;
  }
}
@media (max-width: 670px) {
  .estadosSAP > ul.list-tab-estados > li.active > a > .estado p, .estadosSAP > ul.list-tab-estados > li.active > a > .estado > .-num {
    display: block;
  }
}
.estadosSAP > ul.list-tab-estados > li:hover {
  margin-bottom: 0px;
  border-bottom: 3px solid #27aac5;
  transition: all 0.2s ease;
}
@media (max-width: 851px) {
  .estadosSAP > ul.list-tab-estados > li:hover {
    border-bottom: 0px;
  }
}
.estadosSAP > .filter-tpl {
  display: inline-block;
  margin-left: 20px;
  width: 200px;
}
@media (max-width: 1095px) {
  .estadosSAP > .filter-tpl {
    margin-left: 0px;
    margin-right: 15px;
  }
}
.estadosSAP > .filter-tpl > .select-tpl.ng-select-opened .ng-select-container {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.estadosSAP > .filter-tpl > .select-tpl > .ng-select-container {
  font-family: "Roboto-Light";
  color: #898b8b;
  font-size: 14px !important;
  border-color: #00aec7;
  border-radius: 100px;
}
.estadosSAP > .filter-tpl > .select-tpl > .ng-select-container .ng-value-container {
  padding-left: 15px;
}
.estadosSAP > .filter-tpl > .select-tpl > .ng-select-container .ng-value-container .ng-placeholder {
  font-family: "Roboto-Regular";
  font-size: 14px !important;
}
.estadosSAP > .filter-tpl > .select-tpl > .ng-select-container .ng-value-container .ng-input {
  padding-left: 15px;
}
.estadosSAP > .filter-tpl > .select-tpl > .ng-select-container .ng-value-container .ng-value > span.ng-value-label {
  font-family: "Roboto-Regular";
  color: #898b8b;
  font-size: 14px !important;
}
.estadosSAP > .filter-tpl > .select-tpl > .ng-dropdown-panel {
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
.estadosSAP > .filter-tpl > .select-tpl > .ng-dropdown-panel .ng-dropdown-panel-items {
  border-radius: 10px;
}
.estadosSAP > .filter-tpl > .select-tpl > .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-option-label {
  font-family: "Roboto-Regular";
  color: #898b8b;
  font-size: 14px !important;
}
.estadosSAP > .filter-tpl > .select-tpl > .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.estadosSAP > .filter-tpl > .select-tpl > .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.estadosSAP > .sync-SAP {
  margin-left: 15px;
  display: inline-block;
}
@media (max-width: 1143px) {
  .estadosSAP > .sync-SAP {
    margin-left: 0px;
    margin-right: 15px;
  }
}
.estadosSAP > .sync-SAP > .tooltip .tooltip-inner {
  white-space: nowrap;
  max-width: 300px;
}

.cont-summary {
  padding-top: 10px;
  overflow: auto;
}
.cont-summary > .filterMb {
  display: block;
}
.cont-summary > .filterMb > h1 {
  font-size: 18px !important;
  color: #0033A0;
  font-family: "Roboto-Bold";
  margin-top: 0;
  margin-bottom: 20px;
  display: none;
}
@media (max-width: 1099px) {
  .cont-summary > .filterMb > h1 {
    margin-top: 10px;
    display: block;
  }
}
.cont-summary > .filterMb > .-clear {
  margin-bottom: 10px;
}

.empty {
  padding: 30px 0px;
  text-align: center;
  text-transform: none;
}
.empty i.fa {
  color: #0033A0;
  font-size: 60px !important;
}
.empty p.empty-title {
  font-family: "Roboto-Bold";
  color: #0033A0;
  font-size: 20px !important;
  margin-top: 10px;
}
.empty p.empty-subtitle {
  font-family: "Roboto-Light";
  color: #898b8b;
}

.form-control.filter-table {
  border-radius: 3px;
  padding: 6px 10px;
  font-size: 14px;
  font-family: "Roboto-Light";
}

@media (max-width: 1099px) {
  .table.-summary.table-oflw .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header {
    overflow-x: scroll;
  }
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header {
  background: transparent;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr {
  /* Filtros tabla detalle tipología */
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr:nth-child(2) {
  border-bottom: 1px solid #0033A0;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-simple {
  font-size: 12px !important;
  color: #333;
  font-family: "Roboto-Bold";
  text-transform: uppercase;
  background: transparent;
  border: none;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-simple.ui-sortable-column a {
  vertical-align: middle;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-simple.ui-sortable-column a > .ui-sortable-column-icon {
  color: #333;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-simple.ui-sortable-column a > .ui-sortable-column-icon.pi-sort-up, .table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-simple.ui-sortable-column a > .ui-sortable-column-icon.pi-sort-down {
  color: #333;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-simple .select-tpl .ng-placeholder {
  text-transform: capitalize;
  font-family: "Roboto-Light";
  display: block;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-simple .select-tpl .ng-value-label {
  color: #898b8b;
  text-transform: capitalize;
  font-family: "Roboto-Light";
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-simple .select-tpl .ng-dropdown-panel-items .ng-option-label {
  text-transform: capitalize;
  font-family: "Roboto-Light";
  color: #898b8b;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-simple.-filter > .filter-table {
  color: #898b8b;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-detail {
  width: 180px;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-detail:first-child {
  width: 110px !important;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-detail:last-child {
  width: 35px !important;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-trm {
  width: 300px;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-trm:first-child {
  width: 200px;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-trm:nth-child(2) {
  width: 150px;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-header .ui-table-thead > tr .ui-thead-trm:last-child {
  width: 35px !important;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr:nth-child(odd) {
  background-color: #f3f3f3;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr:nth-child(even) {
  background-color: transparent;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-simple {
  font-size: 14px !important;
  color: #898b8b;
  font-family: "Roboto-Regular";
  border: none;
  padding: 0.5em;
  cursor: pointer;
  vertical-align: middle;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-simple.alert {
  text-transform: capitalize;
  border-radius: 0;
  margin-bottom: 0px;
  min-width: 100px;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-simple.alert i.fas {
  margin-right: 10px;
  font-size: 16px !important;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-simple.alert.-alta {
  color: #F10C0C;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-simple.alert.-media {
  color: #0033A0;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-detail {
  width: 180px;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-detail i.fas:hover {
  color: #00aec7;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-detail:first-child {
  font-family: "Roboto-Regular" !important;
  width: 110px !important;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-detail:last-child {
  width: 35px !important;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-trm {
  width: 300px;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-trm:first-child {
  width: 200px;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-trm:nth-child(2) {
  width: 150px;
}
.table .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body .ui-table-tbody > tr .ui-tbody-trm:last-child {
  width: 35px !important;
}

.button.primary {
  border-radius: 100px;
  padding: 5px 10px;
  font-size: 14px !important;
  color: #fff;
  background-color: #00aec7;
  border: none;
  outline: none;
}
.button.primary.save {
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto-Bold";
  letter-spacing: 0.5px;
  transition: all 0.25s ease;
}
.button.primary.save:hover {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease;
}
.button.primary.cancel {
  margin-left: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #9ea2a3;
  text-decoration: none;
  font-family: "Roboto-Regular";
  transition: all 0.25s ease;
}
.button.primary.cancel:hover {
  transition: all 0.25s ease;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.button.primary.custom.-sync {
  border: 1px solid #00aec7;
  background: transparent;
  color: #0033A0;
  border-radius: 100%;
  padding: 3px 6px;
  transition: all 0.2s ease;
}
.button.primary.custom.-sync:hover {
  border: 0;
  background-color: #0033A0;
  color: #fff;
  transition: all 0.2s ease;
}
.button.primary.custom.-sync:hover i.fas {
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}
.button.primary.custom.-sync i.fas {
  font-size: 14px;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}
.button.primary.custom.-back {
  border-radius: 0px;
  position: absolute;
  bottom: 0;
}
@media (max-width: 522px) {
  .button.primary.custom.-back {
    padding: 14px 10px;
  }
}
@media (max-width: 460px) {
  .button.primary.custom.-back {
    padding: 5px 10px;
  }
}
@media (max-width: 452px) {
  .button.primary.custom.-back {
    padding: 14px 10px;
  }
}
.button.primary.custom.-back i.fas {
  font-size: 30px !important;
}
.button.primary.custom.-clear {
  background-color: #fff;
  color: #00aec7;
  border: 1px solid #00aec7;
  transition: all 0.25s ease;
}
@media (max-width: 1143px) {
  .button.primary.custom.-clear {
    display: inline-block;
  }
}
.button.primary.custom.-clear:hover {
  transition: all 0.25s ease;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.button.primary.custom.-clear i.fas {
  margin-right: 10px;
}
.button.primary.custom.-search {
  margin-right: 15px;
  background-color: #fff;
  color: #00aec7;
  border: 1px solid #00aec7;
  display: none;
  transition: all 0.25s ease;
}
@media (max-width: 1099px) {
  .button.primary.custom.-search {
    display: inline-block;
  }
}
@media (max-width: 470px) {
  .button.primary.custom.-search {
    margin-bottom: 20px;
  }
}
.button.primary.custom.-search:hover {
  transition: all 0.25s ease;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.button.primary.custom.-search i.fas {
  margin-right: 10px;
}
.button.primary.custom.-file {
  max-width: 210px;
  background-color: #fff;
  color: #00aec7;
  border: 1px solid #00aec7;
  transition: all 0.25s ease;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.button.primary.custom.-file > i.fas {
  margin: 0px 10px;
}
.button.primary.custom.-file > input[type=file] {
  opacity: 0;
  height: 30px;
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  border-radius: 100px;
}
.button.primary.custom.-file > label {
  font-family: "Roboto-Light";
  font-size: 14px !important;
}
.button.primary.custom.-file:hover {
  transition: all 0.25s ease;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.det-content {
  position: relative;
  margin-bottom: 70px;
}
.det-content > h2 {
  font-family: "Roboto-Light";
  color: #0033A0;
  font-size: 20px !important;
  margin-bottom: 20px;
  clear: both;
}
.det-content > h2 i.fas {
  margin-right: 10px;
  font-size: 20px !important;
}
.det-content > h2 span.bold {
  font-family: "Roboto-Bold";
  font-size: 20px !important;
}
.det-content > .btn-cont {
  padding: 0px;
  padding-top: 20px;
  clear: both;
  width: 100%;
}
.det-content > .files-content {
  margin-top: 10px;
  width: 100%;
}
.det-content > .files-content .list-files {
  list-style-type: none;
  padding-top: 10px;
  margin-bottom: 0;
}
.det-content > .files-content .list-files > li.input-file {
  width: 150px;
  height: 120px;
  display: inline-block;
  border-width: 1px;
  border-color: #9ea2a3;
  border-style: solid;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0px 10px;
  vertical-align: top;
}
.det-content > .files-content .list-files > li.input-file:first-child {
  margin-left: 0px;
}
.det-content > .files-content .list-files > li.input-file:last-child {
  margin-right: 0px;
}
@media (max-width: 1025px) {
  .det-content > .files-content .list-files > li.input-file:last-child {
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
@media (max-width: 981px) {
  .det-content > .files-content .list-files > li.input-file:last-child {
    margin-left: 10px;
  }
}
@media (max-width: 1025px) {
  .det-content > .files-content .list-files > li.input-file {
    width: 180px;
    margin-bottom: 10px;
  }
}
@media (max-width: 981px) {
  .det-content > .files-content .list-files > li.input-file {
    width: 31%;
  }
  .det-content > .files-content .list-files > li.input-file:nth-child(4) {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .det-content > .files-content .list-files > li.input-file:nth-child(3) {
    margin-right: 0px;
  }
}
@media (max-width: 737px) {
  .det-content > .files-content .list-files > li.input-file {
    width: 48%;
  }
  .det-content > .files-content .list-files > li.input-file:nth-child(2) {
    margin-right: 0px;
  }
  .det-content > .files-content .list-files > li.input-file:nth-child(3) {
    margin-left: 0px;
    margin-right: 10px;
  }
  .det-content > .files-content .list-files > li.input-file:nth-child(4) {
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .det-content > .files-content .list-files > li.input-file:last-child {
    margin-left: 0px;
  }
}
@media (max-width: 660px) {
  .det-content > .files-content .list-files > li.input-file {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
.det-content > .files-content .list-files > li.input-file.input-empty {
  text-align: center;
  border-style: dashed;
  box-shadow: inset 0px 3px 10px -3px rgba(0, 0, 0, 0.3);
}
.det-content > .files-content .list-files > li.input-file.input-empty > input[type=file] {
  opacity: 0;
  height: 120px;
  width: 150px;
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  border-radius: 10px;
  z-index: 9;
  cursor: pointer;
}
.det-content > .files-content .list-files > li.input-file.input-empty > i.fas {
  display: block;
  font-size: 40px !important;
  color: #00aec7;
  padding: 15px 20px 10px;
  opacity: 0.6;
}
.det-content > .files-content .list-files > li.input-file.input-empty > label {
  font-family: "Roboto-Light";
}
.det-content > .files-content .list-files > li.input-file.input-empty > label span.bold {
  font-family: "Roboto-Bold";
  display: block;
}
.det-content > .files-content .list-files > li.input-file.input-full {
  text-align: center;
}
.det-content > .files-content .list-files > li.input-file.input-full i.far {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px !important;
  opacity: 0.6;
  transition: all 0.25s ease;
}
.det-content > .files-content .list-files > li.input-file.input-full i.far:hover {
  color: #F10C0C;
  opacity: 1;
  cursor: pointer;
  transition: all 0.25s ease;
}
.det-content > .files-content .list-files > li.input-file.input-full i.fas {
  display: block;
  font-size: 40px !important;
  color: #00aec7;
  padding: 25px 20px 15px;
}
.det-content > .files-content .list-files > li.input-file.input-full > label {
  font-family: "Roboto-Light";
  width: 90%;
  display: block;
  margin-left: 5%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.det-content > .chck-cont {
  clear: both;
  width: 100%;
}
.det-content > .chck-cont.-md {
  margin: 20px 0px;
  display: block;
  height: 20px;
}
.det-content > .chck-cont .field {
  padding: 0px 20px 0px 0px;
}
.det-content > .chck-cont .field > .chck-custom {
  font-family: "Roboto-Light";
  color: #898b8b;
}
@media (max-width: 520px) {
  .det-content > .chck-cont .field > .chck-custom {
    display: block;
  }
}
.det-content > .chck-cont .field > .chck-custom:first-child {
  margin-bottom: 10px;
  margin-right: 20px;
}
.det-content > .chck-cont .field > .chck-custom .ui-chkbox {
  margin-right: 10px;
  vertical-align: text-bottom;
}
.det-content > .chck-cont .field > .chck-custom .ui-chkbox .ui-chkbox-box {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-color: #00aec7;
}
.det-content > .chck-cont .field > .chck-custom .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #00aec7;
  background-color: #00aec7;
}
.det-content > .tab-table {
  padding-top: 30px;
}
.det-content > .field {
  padding: 0px 20px 0px 0px;
}
.det-content > .field:first-child {
  padding-left: 0px;
}
.det-content > .field:nth-child(3n+1) {
  padding-left: 0px;
}
.det-content > .field.-clear {
  clear: both;
}
.det-content > .field > .form-group > label {
  font-family: "Roboto-Regular";
  font-weight: normal;
  color: #898b8b;
}
.det-content > .field > .form-group > label > span.bold {
  color: #0033A0;
  font-family: "Roboto-Bold";
  font-size: 14px !important;
}
.det-content > .field > .form-group > input[type=text] {
  color: #898b8b;
}
.det-content > .field > .form-group > input[readonly] {
  background-color: rgba(226, 226, 226, 0.3);
  cursor: context-menu;
}
.det-content > .field > .form-group > input[readonly]:focus, .det-content > .field > .form-group > input[readonly]:active {
  outline: none;
  border-color: #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.det-content > .field > .form-group > select {
  color: #898b8b;
}
.det-content > .field > .form-group > textarea {
  resize: vertical;
  min-height: 92px;
}
@media (max-width: 991px) {
  .det-content > .field > .form-group > textarea {
    min-height: 108px;
  }
}
.det-content > .field.-custom {
  padding: 20px 0px;
  border-left: 6px solid;
}
@media (max-width: 767px) {
  .det-content > .field.-custom {
    margin-bottom: 20px;
  }
}
.det-content > .field.-custom.-approved {
  background-color: rgba(5, 175, 5, 0.3);
  border-left-color: #006f00;
}
.det-content > .field.-custom.-audit {
  background-color: rgba(255, 247, 0, 0.3);
  border-left-color: #ff8d00;
}
.det-content > .field.-custom > .notification {
  margin: 0 20px;
  color: #333;
  display: block;
}
.det-content > .field.-custom > .notification > i.fas {
  font-size: 20px !important;
  vertical-align: middle;
  margin-right: 10px;
}
.det-content > .field.-custom > .notification > i.fas.fa-check {
  color: #006f00;
}
.det-content > .field.-custom > .notification > i.fas.fa-hand-paper {
  color: #ff8d00;
}

.alert {
  position: absolute;
}
.alert.alert-danger {
  margin-top: 9px;
  border: none !important;
  height: auto;
  max-width: 90%;
  padding: 5px 10px !important;
  position: absolute;
  z-index: 50;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #FFCDD2;
  color: #B71C1C;
}
.alert.alert-danger .arrow {
  background-color: inherit;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -7px;
  left: 50px;
  transform: rotate(45deg);
}

.error {
  padding-top: 50px;
}
.error .code {
  text-align: center;
}
.error .code span.num {
  font-size: 200px !important;
  font-family: "Roboto-Bold";
  color: #0033A0;
  line-height: 140px;
  text-shadow: -7px 0px 7px rgba(0, 0, 0, 0.2);
}
.error .code span.num i {
  color: #0033A0;
  margin: 0px 20px;
}
.error .code span.num i.far {
  font-size: 200px !important;
}
.error .code span.num i.fas {
  font-size: 200px !important;
}
.error h1 {
  width: 600px;
  margin: auto;
  text-align: center;
  font-size: 30px !important;
  color: #00aec7;
  margin-top: 30px;
}
.error h2 {
  width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

* {
  padding: 0px;
  margin: 0px;
  font-size: 14px !important;
}

body {
  font-family: "Roboto-Regular" !important;
  background-color: #fff;
  color: #898b8b;
}

.wrap {
  width: calc(100% - 70px);
  margin-left: 70px;
  padding: 70px 0px 0 0px;
  position: relative;
}
@media (max-width: 460px) {
  .wrap {
    width: 100%;
    margin: 0;
  }
}
.wrap .container {
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
}
.wrap .container.-ldg {
  margin-top: 0;
}
.wrap .container .encabezado {
  position: relative;
}
.wrap .container .encabezado.-ctm h1 {
  vertical-align: middle;
  margin-left: 50px;
  margin-top: 4px;
}
.wrap .container .encabezado h1 {
  color: #00aec7;
  font-family: "Roboto-Light";
  font-size: 24px !important;
  margin: 0;
  margin-right: 10px;
  text-transform: uppercase;
  display: inline-block;
}
.wrap .container .encabezado h1 > .bold {
  font-size: 24px !important;
  font-family: "Roboto-Bold";
}
.wrap .container .encabezado h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #00aec7;
  font-family: "Roboto-Regular";
  font-size: 24px !important;
  display: inline-block;
}
.wrap .container .encabezado hr.divider {
  margin-top: 10px;
}
.wrap .container .encabezado hr.-tabs {
  margin-bottom: 10px;
}

hr.divider {
  border-color: #9ea2a3;
}

.loading-content {
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  left: 0;
  z-index: 99;
}
.loading-content > img {
  padding-top: 180px;
}

p.note {
  color: #898b8b;
  font-family: "Roboto-Light";
  margin-bottom: 0;
}
p.note > span.bold {
  font-family: "Roboto-Bold";
}
p.-ifNote {
  padding: 10px 0px;
  display: none;
}
@media (max-width: 1099px) {
  p.-ifNote {
    display: block;
  }
}
p.-ifPeople {
  padding: 10px 0px;
  display: none;
}
@media (max-width: 1260px) {
  p.-ifPeople {
    display: block;
  }
}
p.-ifPlan {
  padding: 10px 0px;
  display: none;
}
@media (max-width: 980px) {
  p.-ifPlan {
    display: block;
  }
}

.bs-datepicker-container .bs-calendar-container .bs-media-container .bs-datepicker-head {
  background-color: #0033A0;
}
.bs-datepicker-container .bs-calendar-container .bs-media-container .bs-datepicker-head .current {
  font-size: 14px;
  font-family: "Roboto-Regular";
}
.bs-datepicker-container .bs-calendar-container .bs-media-container .bs-datepicker-body .days.weeks thead > tr th {
  font-family: "Roboto-Regular";
}
.bs-datepicker-container .bs-calendar-container .bs-media-container .bs-datepicker-body .days.weeks tbody > tr td.week {
  display: none;
}
.bs-datepicker-container .bs-calendar-container .bs-media-container .bs-datepicker-body .days.weeks tbody > tr td .selected {
  background-color: #0033A0;
}
.bs-datepicker-container .bs-calendar-container .bs-media-container .bs-datepicker-body .days.weeks tbody > tr td .select-start {
  background-color: #0033A0;
}
.bs-datepicker-container .bs-calendar-container .bs-media-container .bs-datepicker-body .days.weeks tbody > tr td .select-start.selected {
  background-color: #0033A0;
}
.bs-datepicker-container .bs-calendar-container .bs-media-container .bs-datepicker-body .days.weeks tbody > tr td .select-end {
  background-color: #0033A0;
}
.bs-datepicker-container .bs-calendar-container .bs-media-container .bs-datepicker-body .days.weeks tbody > tr td .select-end.selected {
  background-color: #0033A0;
}

/*# sourceMappingURL=styles.css.map */
