<div class="wrap">
  <div class="container">
    <div class="encabezado">
      <h1>
        <span class="bold">Gestión </span>de clientes</h1>      
      <hr class="divider -tabs">
    </div>    
    <div class="cont-summary">
      <div class="filterMb">
        <button (click)="limpiarFiltros()" class="button primary custom -clear">
          <i class="fas fa-eraser"></i> Limpiar Filtros
        </button>
      </div>
      <p class="note -ifNote">Para visualizar la tabla completamente 
        <span class="bold">mueva el scroll horizontalmente</span></p>
      <p-table class="table -summary" [columns]="modelColumnas" [value]="listaFilasFiltradas" 
        [scrollable]="true" [style]="{width:'100%'}" scrollHeight="200px" [ngClass]="{'table-oflw': listaFilasFiltradas.length == 0}">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" style="width: 150px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <ng-container *ngFor="let col of columns">
              <th *ngIf="col.tipo === 'texto'" class="ui-thead-simple" [pSortableColumn]="col.nombre">
                <p-sortIcon [field]="col.nombre" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                {{col.titulo}}</th>
              <th *ngIf="col.tipo === 'delete'" class="ui-thead-simple">                
                {{col.titulo}}</th>
              <th *ngIf="col.tipo === 'date'" class="ui-thead-simple" [pSortableColumn]="col.nombre" id="fechaAvisoAveria">
                <p-sortIcon [field]="col.nombre" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                {{col.titulo}}</th>
            </ng-container>
          </tr>
          <tr>
            <th class="ui-thead-simple -filter" *ngFor="let col of columns" >
              <input id="{{col.nombre}}" class="form-control filter-table" (keyup)="filtrarRegistros(col.nombre, $event.target.value)" 
                placeholder="Buscar" *ngIf="col.tipo === 'texto'" pInputText>              
              <input class="form-control filter-table date" placeholder="Buscar" *ngIf="col.tipo === 'date'" #drp="bsDaterangepicker" bsDaterangepicker
                [bsConfig]="bsConfig" placement="left" [(ngModel)]="fechaAviso[col.nombre]" (ngModelChange)="filtrarRangoFecha(col.nombre)">              
            </th>
          </tr>
        </ng-template>       
        <ng-template pTemplate="body" let-fila let-columns="columns">             
          <tr *ngIf="fila">           
            <ng-container *ngFor="let col of columns">
              <td [routerLink]="construirUrl(fila)" *ngIf="col.tipo === 'texto' && col.accion != 'delete'" class="ui-tbody-simple">
                  <span class="ui-column-title">{{col.header}}</span>
                  {{format(fila, col.nombre)}}                                
              </td>
              <td *ngIf="col.tipo === 'texto' && col.accion === 'delete'" class="ui-tbody-simple">
                <span class="ui-column-title">{{col.header}}</span>
                {{format(fila, col.nombre)}} 
                  <i *ngIf="col.accion === 'delete'" (click)="eliminarRegistro(fila)" class="fas fa-trash" tooltip="Eliminar registro" 
                      tooltipAppendToBody="true"></i>                 
              </td>                           
              <td *ngIf="col.tipo === 'date'" class="ui-tbody-simple">{{format(fila, col.nombre)}}</td>
            </ng-container>
          </tr>          
        </ng-template>                     
      </p-table>
      <div class="empty" *ngIf="listaFilasFiltradas.length == 0">
        <div>
            <i class="fa fa-info-circle"></i>
        </div>
        <p class="empty-title">No se encontraron registros</p>
        <p class="empty-subtitle">En estos momentos no se encontraron registros asociados.</p>
      </div>
    </div><br/> 
    <div class="btn-cont">
      <div class="btn-cont">
        <button type="button" class="button primary save" (click)="irGestionCliente()">Agregar</button>              
      </div>            
    </div>   
  </div> 
</div>