.alert {
    position: absolute;
    &.alert-danger {
        margin-top: 9px;
        border: none !important;
        height: auto;
        max-width: 90%;
        padding: 5px 10px !important;
        position: absolute;
        z-index: 50;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
        background-color: #FFCDD2;
        color: #B71C1C;
        .arrow {
            background-color: inherit;
            width: 15px;
            height: 15px;
            position: absolute;
            top: -7px;
            left: 50px;
            transform: rotate(45deg);
        }
    }
}