.container {
    &.top {
        > .row {
            .card {
                width: 100%;
                padding: 20px;
                border-radius: 3px;
                margin-bottom: 30px;
                cursor: pointer;
                &.disabled {
                    cursor: not-allowed;
                    background-color: $light_gray_color !important;
                    > .iconCard {
                        border-color: $text_color !important; 
                        .fas {
                            color: $text_color !important;
                        }
                    }
                    > h3, h5, h1, span {
                        color: $text_color !important;    
                    }
                    > .divider {
                        border-color: $text_color !important;
                    }
                }
                &.-cardAq {
                    background-color: $aqua_color;
                    > .iconCard {
                        border: 1px solid $light_aqua_color;
                        .fas {
                            color:  $light_aqua_color;
                        }
                    }
                    > h3 {
                        color: $light_aqua_color;
                        font-size: $h1 !important;
                    }
                }
                &.-cardBl {
                    background-color: $blue_color;
                    > .iconCard {
                        border: 1px solid $aqua_color;
                        .fas {
                            color:  $aqua_color;
                        }
                    }
                    > h3 {
                        color: $aqua_color;
                        font-size: $h1 !important;
                    }
                }
                > .iconCard {
                    display: block;
                    border-radius: 5px;
                    width: 70px;
                    text-align: center;
                    margin-bottom: 20px;
                    i {
                        &.fas {
                            font-size: 30px !important;
                            padding: 20px;
                        }
                    }
                    @media (max-width: 767px) {
                        float: right;
                    }
                }
                > h3, h1, h5 {
                    margin: 0;
                }
                > h3 {
                    text-transform: uppercase;
                    font-family: $bold;
                }
                > h1 {
                    color: $white_color;
                    font-family: $bold;
                    font-size: 70px !important;
                }
                > h5 {
                    font-family: $light;
                    color: $white_color;
                }
                > .divider {
                    border-color: $light_aqua_color;
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
                > span {
                    &.date {
                        color: $white_color;
                        font-family: $light;
                        font-size: 12px !important;
                        display: block;
                        text-align: right;
                    }
                }
            }
        }
    }
}