.button {
    &.primary {
        border-radius: 100px;
        padding: 5px 10px;
        font-size: $text !important;
        color: $white_color;
        background-color: $aqua_color;
        border: none;
        outline: none;
        &.save {
            padding: 10px 20px;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $bold;
            letter-spacing: .5px;
            transition: all .25s ease;
            &:hover {
                box-shadow: 0px 3px 10px 0px rgba(0,0,0,.3);
                transition: all .25s ease;
            }
        }
        &.cancel {
            margin-left: 20px;
            padding: 10px 20px;
            text-transform: uppercase;
            background-color: $gray_color;
            text-decoration: none;
            font-family: $regular;
            transition: all .25s ease;
            &:hover {
                transition: all .25s ease;
                box-shadow: 0px 3px 10px 0px rgba(0,0,0,.3);
            }
        }
        &.custom {
            &.-sync {
                border: 1px solid $aqua_color;
                background: transparent;
                color: $blue_color;
                border-radius: 100%;
                padding: 3px 6px;
                transition: all .2s ease;
                &:hover {
                    border: 0;
                    background-color: $blue_color;
                    color: $white_color;
                    transition: all .2s ease;
                    i {
                        &.fas {
                            transform: rotate(360deg);
                            transition: transform .5s ease;
                        }
                    }
                }
                i {
                    &.fas {
                        font-size: $text;
                        transform: rotate(0deg);
                        transition: transform .5s ease;
                    }
                }
            }
            &.-back {
                border-radius: 0px;
                position: absolute;
                bottom: 0;
                @media (max-width: 522px) {
                    padding: 14px 10px;
                }
                @media (max-width: $portrair_smart) {
                    padding: 5px 10px;
                }
                @media (max-width: 452px) {
                    padding: 14px 10px;
                }
                i {
                    &.fas {
                        font-size: 30px !important;
                    }
                }
            }
            &.-clear {
                background-color: $white_color;
                color: $aqua_color;
                border: 1px solid $aqua_color;
                transition: all .25s ease;
                // display: inline-block;
                @media (max-width: 1143px) {
                    display: inline-block;
                }
                &:hover {
                    transition: all .25s ease;
                    box-shadow: 0px 3px 10px 0px rgba(0,0,0,.3);
                }
                i {
                    &.fas {
                        margin-right: 10px;
                    }
                }
            }
            &.-search {
                margin-right: 15px;
                background-color: $white_color;
                color: $aqua_color;
                border: 1px solid $aqua_color;
                display: none;
                transition: all .25s ease;
                @media (max-width: 1099px) {
                    display: inline-block;
                }
                @media (max-width: 470px) {
                    margin-bottom: 20px;
                }
                &:hover {
                    transition: all .25s ease;
                    box-shadow: 0px 3px 10px 0px rgba(0,0,0,.3);
                }
                i {
                    &.fas {
                        margin-right: 10px;
                    }
                }
            }
            &.-file {
                max-width: 210px;
                background-color: $white_color;
                color: $aqua_color;
                border: 1px solid $aqua_color;
                transition: all .25s ease;
                height: 30px;
                position: relative;
                overflow: hidden;
                > i {
                    &.fas {
                        margin: 0px 10px;
                    }
                }
                > input[type=file] {
                    opacity: 0;
                    height: 30px;
                    position: absolute;
                    outline: none;
                    left: 0;
                    top: 0;
                    border-radius: 100px;
                }
                > label {
                    font-family: $light;
                    font-size: 14px !important;
                }
                &:hover {
                    transition: all .25s ease;
                    box-shadow: 0px 3px 10px 0px rgba(0,0,0,.3);
                }
            }
        }
    }
}