.estadosSAP {
    position: relative;
    > ul {
        width: auto;
        display: inline-block;
        @media (max-width:1095px) {
            display: block;
        }
        &.list-tab-estados {
            list-style-type: none;
            > li {
                min-width: 100px;
                border-left: 1px solid $light_gray_color;
                display: inline-block;
                transition: all .2s ease;
                margin-bottom: 3px;
                cursor: pointer;
                @media (max-width: 851px) {
                    min-width: auto;
                    width: 16.66%;
                    border-top: 3px solid $white_color;
                    border-bottom: 2px solid $bg_aqua_color;
                }
                @media (max-width: $landscape_smart) {
                    width: 14%;
                }
                @media (max-width: 420px) {
                    width: 12%;
                }
                &:last-child {
                    border-right: 1px solid $light_gray_color;
                }
                > a {
                    text-decoration: none;
                    color: $blue_color;
                    display: block;
                    padding: 0 10px;
                    position: relative;
                    @media (max-width: 851px) {
                        padding: 5px 0px;
                        text-align: center;
                        min-height: 42px;
                    }
                    > .iconTab {
                        display: inline-block;
                        vertical-align: middle;
                        i {
                            &.fas {
                                font-size: 24px !important;
                                @media (max-width: $portrair_smart) {
                                    font-size: 18px !important;
                                }
                            }
                        }
                        > .badge {
                            background-color: $white_color;
                            border: 1px solid $blue_color;
                            font-family: $bold;
                            position: absolute;
                            font-weight: normal;
                            font-size: 12px !important;
                            right: -10px;
                            top: -5px;
                            display: none;
                            color: $blue_color;
                            transition: all .25s ease;
                            @media (max-width: 851px) {
                                display: block;
                            }
                        }
                    }
                    > .estado {
                        display: inline-block;
                        margin-left: 15px;
                        vertical-align: middle;
                        @media (max-width: 851px) {
                            display: block;
                            margin-left: 0;
                        }
                        p {
                            color: $gray_color;
                            font-family: $light;
                            margin-bottom: 0px;
                            font-size: 12px !important;
                            @media (max-width: $landscape_smart) {
                                display: none;
                            }
                        }
                        > span {
                            &.-num {
                                font-size: 18px !important;
                                font-family: $bold;
                                color: $aqua_color;
                                @media (max-width: $landscape_smart) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                &.active {
                    background-color: $bg_aqua_color;
                    transition: all .2s ease;
                    @media (max-width: 851px) {
                        background-color: $white_color;
                        border: 2px solid $bg_aqua_color;
                        border-bottom-color: $white_color;
                        transition: all .2s ease;
                    }
                    @media (max-width: $landscape_smart) {
                        max-width: 151px;
                        width: 30%;
                    }
                    @media (max-width: 420px) {
                        width: 40%;
                    }
                    > a {
                        > .iconTab {
                            i {
                                &.fas {
                                    color:  $white_color;
                                    transition: all .2s ease;
                                    @media (max-width: 851px) {
                                        color: $blue_color;
                                    }
                                    @media (max-width: $portrair_smart) {
                                        font-size: 20px !important;
                                    }
                                }
                            }
                            > .badge {
                                display: none;
                            }
                        }
                        > .estado {
                            @media (max-width: $landscape_smart) {
                                display: inline-block;
                                margin-left: 15px;
                                text-align: left;
                            }
                            p, > .-num {
                                color: $white_color;
                                transition: all .2s ease;
                                @media (max-width: 851px) {
                                    color: $blue_color;
                                }
                                @media (max-width: $landscape_smart) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
                &:hover{
                    margin-bottom: 0px;
                    border-bottom: 3px solid $bg_aqua_color;
                    transition: all .2s ease;
                    @media (max-width: 851px) {
                        border-bottom: 0px;
                    }   
                }
            }
        }
    }
    > .filter-tpl {
        display: inline-block;
        margin-left: 20px;
        width: 200px;
        @media (max-width:1095px) {
            margin-left: 0px;
            margin-right: 15px;
        }
        > .select-tpl {
            &.ng-select-opened {
                .ng-select-container {
                    border-bottom-right-radius: 100px;
                    border-bottom-left-radius: 100px;
                }     
            }
            > .ng-select-container {
                font-family: $light;
                color: $text_color;
                font-size: 14px !important;  
                border-color: $aqua_color;
                border-radius: 100px;
                .ng-value-container {
                    padding-left: 15px;
                    .ng-placeholder {
                        font-family: $regular;
                        font-size: 14px !important;
                    }
                    .ng-input {
                        padding-left: 15px;
                    }
                    .ng-value {
                        > span {
                            &.ng-value-label {
                                font-family: $regular;
                                color: $text_color;
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }
            > .ng-dropdown-panel {
                margin-top: 5px;
                border-radius: 10px;
                box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
                .ng-dropdown-panel-items {
                    border-radius: 10px;
                    .ng-option {
                        .ng-option-label {
                            font-family: $regular;
                            color: $text_color;
                            font-size: 14px !important; 
                        }
                        &:first-child {
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                        &:last-child {
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                    }
                }
            }
        }
    }
    > .sync-SAP {
        margin-left: 15px;
        display: inline-block;
        @media (max-width: 1143px) {
            margin-left: 0px;
            margin-right: 15px;
        }
        > .tooltip {
            .tooltip-inner {
                white-space: nowrap;
                max-width: 300px;
            }
        }
    }
}

.cont-summary {
    padding-top: 10px;
    overflow: auto;
    > .filterMb {
        display: block;
        > h1 {
            font-size: 18px !important;
            color: $blue_color;
            font-family: $bold;
            margin-top: 0;
            margin-bottom: 20px;
            display: none;
            @media (max-width: 1099px) {
                margin-top: 10px;
                display: block;
            }
        }
        > .-clear {
            margin-bottom: 10px;
        }
    }
}
                          

.empty {
    padding: 30px 0px;
    text-align: center;
    text-transform: none;
    i {
        &.fa {
            color: $blue_color;
            font-size: 60px !important;
        }
    }
    p {
        &.empty-title {
            font-family: $bold;
            color: $blue_color;
            font-size: 20px !important;
            margin-top: 10px;
        }
        &.empty-subtitle {
            font-family: $light;
            color: $text_color;
        }
    }
}