.det-content {
    position: relative;
    margin-bottom: 70px;
    > h2 {
        font-family: $light;
        color: $blue_color;
        font-size: 20px !important;
        margin-bottom: 20px;
        clear: both;
        i {
            &.fas {
                margin-right: 10px;
                font-size: 20px !important;
            }
        }
        span {
            &.bold {
                font-family: $bold;
                font-size: 20px !important;
            }
        }
    }
    > .btn-cont {
        padding: 0px;
        padding-top: 20px;
        clear: both;
        width: 100%;
    }
    > .files-content {
        margin-top: 10px;
        width: 100%;
        .list-files {
            list-style-type: none;
            padding-top: 10px;
            margin-bottom: 0;
            > li {
                &.input-file {
                    width: 150px;
                    height: 120px;
                    display: inline-block;
                    border-width: 1px;
                    border-color: $gray_color;
                    border-style: solid;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    margin: 0px 10px;
                    vertical-align: top;
                    &:first-child {
                        margin-left: 0px;
                    }
                    &:last-child {
                        margin-right: 0px;
                        @media (max-width: 1025px) {
                            margin-left: 0px;
                            margin-bottom: 0px;
                        }
                        @media (max-width: 981px) {
                            margin-left: 10px;
                        }
                    }
                    @media (max-width: 1025px) {
                        width: 180px;
                        margin-bottom: 10px;
                    }
                    @media (max-width: 981px) {
                        width: 31%;
                        &:nth-child(4) {
                            margin-left: 0px;
                            margin-bottom: 0px;
                        }
                        &:nth-child(3) {
                            margin-right: 0px;
                        }
                    }
                    @media (max-width: 737px) {
                        width: 48%;
                        &:nth-child(2) {
                            margin-right: 0px;
                        }
                        &:nth-child(3) {
                            margin-left: 0px;
                            margin-right: 10px;
                        }
                        &:nth-child(4) {
                            margin-left: 10px;
                            margin-right: 0px;
                            margin-bottom: 10px;
                        }
                        &:last-child {
                            margin-left: 0px;
                        }
                    }
                    @media (max-width: 660px) {
                        width: 100%;
                        margin-left: 0px !important;
                        margin-right: 0px !important;
                    }
                    &.input-empty {
                        text-align: center;
                        border-style: dashed;
                        box-shadow: inset 0px 3px 10px -3px rgba(0,0,0,0.3);
                        > input[type=file] {
                            opacity: 0;
                            height: 120px;
                            width: 150px;
                            position: absolute;
                            outline: none;
                            left: 0;
                            top: 0;
                            border-radius: 10px;
                            z-index: 9;
                            cursor: pointer;
                        }
                        > i {
                            &.fas {
                                display: block;
                                font-size: 40px !important;
                                color: $aqua_color;
                                padding: 15px 20px 10px;
                                opacity: .6;
                            }
                        }
                        > label {
                            font-family: $light;
                            span {
                                &.bold {
                                    font-family: $bold;
                                    display: block;
                                }
                            }
                        }
                    }
                    &.input-full {
                        text-align: center;
                        i {
                            &.far {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                font-size: 24px !important;
                                opacity: .6;
                                transition: all .25s ease;
                                &:hover {
                                    color: $red_alert;
                                    opacity: 1;
                                    cursor: pointer;
                                    transition: all .25s ease;
                                }
                            }
                            &.fas {
                                display: block;
                                font-size: 40px !important;
                                color: $aqua_color;
                                padding: 25px 20px 15px;
                            }
                        }
                        > label {
                            font-family: $light;
                            width: 90%;
                            display: block;
                            margin-left: 5%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;                            
                        }
                    }
                }
            }
        }
    }
    > .chck-cont {
        clear: both;
        width: 100%;
        &.-md {
            margin: 20px 0px;
            display: block;
            height: 20px;;
        }
        .field {
            padding: 0px 20px 0px 0px;
            > .chck-custom {
                font-family: $light;
                color: $text_color;
                @media (max-width: 520px) {
                    display: block;
                }
                &:first-child {
                    margin-bottom: 10px;
                    margin-right: 20px;
                }
                .ui-chkbox {
                    margin-right: 10px;
                    vertical-align: text-bottom;
                    .ui-chkbox-box {
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        border-color: $aqua_color;
                        &.ui-state-active {
                            border-color: $aqua_color;
                            background-color: $aqua_color;
                        }
                    }
                }
            }
        }
    }
    > .tab-table {
        padding-top: 30px;
    }
    > .field {
        padding: 0px 20px 0px 0px;
        &:first-child {
            padding-left: 0px;
        }
        &:nth-child(3n + 1) {
            padding-left: 0px;
        }
        &.-clear {
            clear: both;
        }
        > .form-group {
            > label {
               font-family: $regular;
               font-weight: normal;
               color: $text_color;
               > span {
                   &.bold {
                       color: $blue_color;
                       font-family: $bold;
                       font-size: 14px !important;
                   }
               }
            }
            > input[type=text] {
                color: $text_color;
            }
            > input[readonly] {
                background-color: $bg_readonly_color;
                cursor: context-menu;
                &:focus, &:active {
                    outline: none;
                    border-color: #ccc;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                }
            }
            > select {
                color: $text_color;
            }
            > textarea {
                resize: vertical;
                min-height: 92px;
                @media (max-width: 991px) {
                    min-height: 108px;
                }
            }
        }
        &.-custom {
            padding: 20px 0px;
            border-left: 6px solid;
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
            &.-approved {
                background-color: rgba(5, 175, 5, .3);
                border-left-color: rgb(0, 111, 0);
            }
            &.-audit {
                background-color: rgba(255, 247, 0, .3);
                border-left-color: rgb(255, 141, 0);
            }
            > .notification {
                margin: 0 20px;
                color: $black_color;
                display: block;
                > i {
                    &.fas {
                        font-size: 20px !important;
                        vertical-align: middle;
                        margin-right: 10px;
                        &.fa-check {
                            color: rgb(0, 111, 0);
                        }
                        &.fa-hand-paper {
                            color: rgb(255, 141, 0);
                        }
                    }
                }
            }
        }
    }
}