.error {
    padding-top: 50px;
    .code   {
        text-align: center;
        span {
            &.num {
                font-size: 200px !important;
                font-family: $bold;
                color: $blue_color;
                line-height: 140px;
                text-shadow: -7px 0px 7px rgba(0,0,0,0.2);
                i {
                    color: $blue_color;
                    margin: 0px 20px;
                    &.far {
                        font-size: 200px !important;
                    }
                    &.fas {
                        font-size: 200px !important;
                    }
                }
            }
        }
    }
    h1 {
        width: 600px;
        margin: auto;
        text-align: center;
        font-size: 30px !important;
        color: $aqua_color;
        margin-top: 30px;
    }
    h2 {
        width: 600px;
        text-align: center;
        margin: auto;
        margin-top: 30px;
    }
}