header {
    background-color: $white_color;
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    z-index: 999;
    > div {
        .menu-mobile {
            position: relative;
            display: none;
            width: 70px;
            text-align: center;
            vertical-align: middle;
            background-color: $blue_color;
            @media (max-width: $portrair_smart) {
                display: inline-block;
            }
            i {
                &.fas {
                    font-size: 20px !important;
                    padding: 25px 0px;
                    color: $white_color;
                    transition: all .25s ease;
                    @media (max-width: $portrair_smart) {
                        transition: all .25s ease;
                    }
                }
            }
        }
        .logo {
            height: 70px;
            padding: 10px;
            border-right: 1px solid $white_color;
            display: inline-block;
            vertical-align: middle;
            background-color: $blue_color;
            outline: none;
            cursor: pointer;
            transition: all .25s ease;
            @media (max-width: $portrair_smart) {
                background-color: $white_color;
                padding: 10px 0px;
                transition: all .25s ease;
            }
        }
        > h5 {
            font-family: $light;
            display: inline-block;
            vertical-align: middle;
            margin-left: 40px;
            color: $text_color;
            font-size: 18px !important;
            transition: all .25 ease;
            @media (max-width: 740px) {
                margin-left: 20px;
                transition: all .25 ease;
            }
            @media (max-width: $portrair_smart) {
                font-size: 16px !important;
                margin-left: 0;
                transition: all .25 ease;
            }
            > span {
                font-family: $bold;
                font-size: 18px !important;
                transition: all .25 ease;
                @media (max-width: $portrair_smart) {
                    display: -webkit-box;
                    transition: all .25 ease;
                    font-size: 16px !important;
                }
            }
        }
        .user {
            float: right;
            position: relative;
            top: 15px;
            padding-right: 40px;
            &:hover {
                cursor: pointer;
            }
            @media (max-width: 740px) {
                top: 10px;
            }
            @media (max-width: 700px) {
                top: 15px;
            }
            @media (max-width: $portrair_smart) {
                padding-right: 20px;
            }
            .name {
                vertical-align: middle;
                display: inline-block;
                text-align: right;
                @media (max-width: 700px) {
                    display: none;
                }
                > h5 {
                    font-size: $text !important;
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: 0;
                }
                > h6 {
                    margin: 0px;
                    font-size: 12px !important;
                    span {
                        @media (max-width: 740px) {
                            display: block;
                        }
                        &.bold {
                            font-size: 12px !important;
                            font-family: $bold;
                        }
                    }
                }
            }
            .iconUser {
                display: inline-block;
                vertical-align: middle;
                width: 40px;
                height: 40px;
                text-align: center;
                border-radius: 50%;
                overflow: hidden;
                margin-left: 20px;
                @media (max-width: $landscape_smart) {
                    margin-left: 0px;
                }
                > i {
                    &.fas {
                        font-size: 40px !important;
                        @media (max-width: 700px) {
                            display: inline-block;
                        }
                    }
                }
            }
            .fas {
                @media (max-width: 700px) {
                    display: none;
                }
                &.fa-angle-down {
                    color: $text_color;
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }
            .userOptions {
                background-color: $white_color;
                padding: 5px 15px;
                box-shadow: 0 3px 15px rgba(0, 0, 0, .3);
                position: absolute;
                top: 70px;
                z-index: 9991;
                border-radius: 5px;
                min-width: 150px;
                right: 30px;
                @media (max-width: 700px) {
                    width: 260px;
                }
                @media (max-width: $portrair_smart) {
                    padding-right: 10px;
                    right: 10px;
                }
                .arrow {
                    width: 20px;
                    height: 20px;
                    background-color: $white_color;
                    position: absolute;
                    top: -10px;
                    right: 20px;
                    transform: rotate(45deg);
                }
                ul {
                    margin: 0px;
                    li {
                        list-style: none;
                        line-height: 30px;
                        transition: all .3s;
                        opacity: .5;
                        @media (max-width: 700px) {
                            opacity: 1;
                        }
                        &.mb-option {
                            display: none;
                            > span {
                                display: block;
                                &.bold {
                                    font-family: $bold;
                                }
                            }
                            @media (max-width: 700px) {
                               display: block;
                               &:nth-child(2) {
                                   border-bottom: 1px solid $text_color;
                               }
                            }
                        }
                        > a {
                            text-decoration: none;
                            color: $text_color;
                        }
                        &:hover {
                            transition: all .3s;
                            padding-left: 5px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}