.modal {
    .modal-dialog {
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        &.modal-tipologia {
            max-width: 970px;
            > .modal-content {
                border-radius: 0px;
                .modal-header {
                    padding: 16px 15px;
                    background-color: $light_gray_color;
                    .iconModal {
                        position: absolute;
                        padding: 20px;
                        width: 70px;
                        height: auto;
                        background-color: $bg_aqua_color;
                        top: 0;
                        left: 0;
                        @media (max-width: $portrair_smart) {
                            padding: 17px;
                            max-width: 60px;
                        }
                        i {
                            &.fas {
                                font-size: $h1 !important;
                                color: $light_aqua_color;
                            }
                        }
                    }
                    .modal-title {
                        &.pull-left {
                            float: none !important;
                            display: inline-block;
                            margin-left: 70px;
                            color: $text_color;
                            font-family: $light;
                            font-size: $h1 !important;
                            @media (max-width: $portrair_smart) {
                                font-size: 20px !important;
                                margin-left: 60px;
                            }
                            .bold {
                                font-family: $bold;
                                font-size: $h1 !important;
                                @media (max-width: $portrair_smart) {
                                    font-size: 20px !important;
                                }
                            }
                            @media (max-width: $portrair_smart) {
                                // margin-left: 0px;
                            }
                        }
                    }
                    .pull-right {
                        float: none !important;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        > span {
                            font-size: $h1 !important;
                        }
                    }
                }
                .modal-body {
                    > .row {
                        margin: 20px 0px;
                        width: 94%;
                        margin-left: 3%;
                        > .col-sm-12 {
                            padding: 0px;
                            > .col-md-4 {
                                padding: 0px 10px;
                                @media (max-width: 488px) {
                                    width: 100%;
                                    padding: 0;
                                }
                            }
                        }
                        .loading {
                            text-align: center;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: $white_color;
                            z-index: 9;
                        }
                        .type {
                            width: 100%;
                            display: inline-block;
                            &.option {
                                background-color: $light_gray_color;
                                padding: 20px;
                                border-radius: 3px;
                                margin-bottom: 20px;
                                cursor: pointer;
                                > .iconType {
                                    border-radius: 5px;
                                    border: 1px solid $aqua_color;
                                    width: auto;
                                    display: inline-block;
                                    i {
                                        &.fas {
                                            color: $aqua_color;
                                            padding: 10px;
                                            font-size: 35px !important;
                                        }
                                    }
                                }
                                > .stats {
                                    display: inline-block;
                                    vertical-align: top;
                                    margin-left: 15px;
                                    @media (max-width: 676px) {
                                        display: block;
                                        margin-left: 0px;
                                        margin-top: 15px;
                                    }
                                    @media (max-width: 488px) {
                                        display: inline-block;
                                        margin-left: 15px;
                                        margin-top: 0;
                                    }
                                    > h5 {
                                        font-size: 12px !important;
                                        font-family: $bold;
                                        text-transform: uppercase;
                                        margin: 0px;
                                        margin-bottom: 5px;
                                        display: block;
                                    }
                                    > h3 {
                                        margin: 0;
                                        display: inline-block;
                                        font-size: 35px !important;
                                        &.number {
                                            font-family: $bold;
                                        }
                                        &.idSAP {
                                            font-family: $light;
                                            border-left: 1px solid $text_color;
                                            margin-left: 10px;
                                            padding-left: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.modal-refuse {
            max-width: 500px;
            > .modal-content {
                border-radius: 0px;
                .modal-header {
                    padding: 16px 15px;
                    background-color: $light_gray_color;
                    .iconModal {
                        position: absolute;
                        padding: 20px;
                        width: 70px;
                        height: auto;
                        background-color: $bg_aqua_color;
                        top: 0;
                        left: 0;
                        text-align: center;
                        @media (max-width: $portrair_smart) {
                            padding: 17px;
                            max-width: 60px;
                        }
                        i {
                            &.fas {
                                font-size: $h1 !important;
                                color: $light_aqua_color;
                            }
                        }
                    }
                    .modal-title {
                        &.pull-left {
                            float: none !important;
                            display: inline-block;
                            margin-left: 70px;
                            color: $text_color;
                            font-family: $light;
                            font-size: $h1 !important;
                            @media (max-width: $portrair_smart) {
                                font-size: 20px !important;
                                margin-left: 60px;
                            }
                            .bold {
                                font-family: $bold;
                                font-size: $h1 !important;
                                @media (max-width: $portrair_smart) {
                                    font-size: 20px !important;
                                }
                            }
                            @media (max-width: $portrair_smart) {
                                // margin-left: 0px;
                            }
                        }
                    }
                    .pull-right {
                        float: none !important;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        > span {
                            font-size: $h1 !important;
                        }
                    }
                }
                .modal-body {
                    .content {
                        .form-group {
                            > label {
                                font-family: $regular;
                                font-weight: normal;
                                color: $text_color;
                                > span {
                                    &.bold {
                                        color: $blue_color;
                                        font-family: $bold;
                                        font-size: 16px !important;
                                    }
                                }
                             }
                        }
                    }
                }
            }
        }
        &.modal-msg-alert {
            max-width: 500px;
            > .modal-content {
                border-radius: 0px;
                .content {
                    text-align: center;
                    .icon-cont {
                        width: 100%;
                        text-align: center;
                        padding: 10px 0px 20px 0px;
                        i {
                            &.fas {
                                font-size: 100px !important;
                                color: $blue_color;
                                &.fa-times-circle {
                                    color: $red_alert;
                                }
                            }
                        }
                    }
                    p {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        &.modal-search {
            max-width: 700px;
            > .modal-content {
                border-radius: 0px;
                .modal-header {
                    padding: 16px 15px;
                    background-color: $light_gray_color;
                    .iconModal {
                        position: absolute;
                        padding: 20px;
                        width: 70px;
                        height: auto;
                        background-color: $bg_aqua_color;
                        top: 0;
                        left: 0;
                        @media (max-width: $portrair_smart) {
                            padding: 17px;
                            max-width: 60px;
                        }
                        i {
                            &.fas {
                                font-size: $h1 !important;
                                color: $light_aqua_color;
                            }
                        }
                    }
                    .modal-title {
                        position: relative;
                        &.pull-left {
                            float: none !important;
                            display: inline-block;
                            margin-left: 70px;
                            color: $text_color;
                            font-family: $light;
                            font-size: $h1 !important;
                            @media (max-width: $portrair_smart) {
                                font-size: 20px !important;
                                margin-left: 60px;
                            }
                            .bold {
                                font-family: $bold;
                                font-size: $h1 !important;
                                @media (max-width: $portrair_smart) {
                                    font-size: 20px !important;
                                }
                            }
                            @media (max-width: $portrair_smart) {
                                // margin-left: 0px;
                            }
                        }
                    }
                    .pull-right {
                        float: none !important;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        > span {
                            font-size: $h1 !important;
                        }
                    }
                }
                .modal-body {
                    .content {
                        > .row {
                            .field {
                                > .form-group {
                                    > label {
                                        font-family: $regular;
                                        font-weight: normal;
                                        color: $text_color;
                                    }
                                    > input[type=text] {
                                        color: $text_color;
                                    }
                                    > select {
                                        color: $text_color;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}