.menuBar {
    background-color: $light_gray_color;
    width: 70px;
    z-index: 999;
    position: fixed;
    top: 70px;
    left: 0px;
    bottom: 0px;
    transition: all .25s ease;
    @media (max-width: $portrair_smart) {
        left: -100%;
        transition: all .25s ease;
        &.-open {
            left: 0px;
            box-shadow: 10px 3px 10px 0px rgba(0,0,0,.2);
            transition: all .25s ease;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        &.li-top {
            li {
                width: 100%;
                height: 70px;
                position: relative;
                background-color: $light_gray_color;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: $text_color;
                    text-decoration: none;
                    transition: all .3s;
                    position: relative;
                    padding: 23px;
                    i {
                        &.fas {
                            font-size: $h2 !important;
                            color: $text_color;
                        }
                    }
                    &.active {
                        > .borderRight {
                            height: 30px;
                            background-color: $aqua_color;
                            width: 3px;
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            top: 20px;
                        }
                        i {
                            &.fas {
                                color: $aqua_color;
                            }
                        }
                        &:hover {
                            i {
                                &.fas {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &.disabled {
                        cursor: not-allowed;
                        opacity: .5;
                        &:hover {
                            i {
                                &.fas {
                                    color: $text_color;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &:hover {
                        i {
                            &.fas {
                                color: $aqua_color;
                                opacity: .5;
                            }
                        }
                    }
                }
            }
            > .tooltip {
                &.right {
                    .tooltip-inner {
                        max-width: 350px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}