.table {
    &.-summary {
        // .ui-table {
        //     min-height: 200px;
        // }
        &.table-oflw {
            .ui-table {
                .ui-table-scrollable-wrapper {
                    .ui-table-scrollable-view {
                        .ui-table-scrollable-header {
                            @media (max-width: 1099px) {
                                overflow-x: scroll;
                            }
                        }
                    }
                }
            }
        }
    }
    .ui-table {
        .ui-table-scrollable-wrapper {
            .ui-table-scrollable-view {
                .ui-table-scrollable-header {
                    background: transparent;
                    .ui-table-thead {
                        > tr {
                            /* Filtros tabla detalle tipología */
                            // @media (max-width: 1099px) {
                            //     border-bottom: 1px solid $blue_color;
                            // }
                            &:nth-child(2) {
                                border-bottom: 1px solid $blue_color;
                            //     @media (max-width: 1099px) {
                            //         display: none;
                            //     }
                            }
                            .ui-thead-simple {
                                font-size: 12px !important;
                                color: $black_color;
                                font-family: $bold;
                                text-transform: uppercase;
                                background: transparent;
                                border: none;
                                // width: 23%;
                                &.ui-sortable-column {
                                    a {
                                        vertical-align: middle;
                                        > .ui-sortable-column-icon {
                                            color: $black_color;
                                            &.pi-sort {
                                                &-up, &-down {
                                                    color: $black_color;
                                                }
                                            }
                                        }
                                    }
                                }
                                .select-tpl {
                                    .ng-placeholder {
                                        text-transform: capitalize;
                                        font-family: $light;
                                        display: block;
                                    }
                                    .ng-value-label {
                                        color: $text_color;
                                        text-transform: capitalize;
                                        font-family: $light;
                                    }
                                    .ng-dropdown-panel-items {
                                        .ng-option-label {
                                            text-transform: capitalize;
                                            font-family: $light;
                                            color: $text_color;
                                        }
                                    }
                                }
                                &.-filter {
                                    > .filter-table {
                                        color: $text_color;
                                    }
                                }
                                // &:first-child {
                                //     width: 14%;
                                // }
                                // &:nth-child(4){
                                //     width: 14%;
                                // }
                                // &:nth-child(5){
                                //     width: 9%;
                                // }
                                // &:last-child {
                                //     width: 17%;
                                // }
                            }
                            .ui-thead-detail {
                                width: 180px;
                                &:first-child {
                                    width: 110px !important;
                                }
                                &:last-child {
                                    width: 35px !important;
                                }
                            }
                            .ui-thead-trm {
                                width: 300px;
                                &:first-child {
                                    width: 200px;
                                }
                                &:nth-child(2) {
                                    width: 150px;
                                }
                                &:last-child {
                                    width: 35px !important;
                                }
                            }
                        }
                    }
                }
                .ui-table-scrollable-body {
                    .ui-table-tbody {
                        > tr {
                            &:nth-child(odd) {
                                background-color: #f3f3f3;
                            }
                            &:nth-child(even) {
                                background-color: transparent;
                            }
                            .ui-tbody-simple {
                                font-size: $text !important;
                                color: $text_color;
                                font-family: $regular;
                                border: none;
                                padding: .5em;
                                cursor: pointer;
                                // width: 23%;
                                vertical-align: middle;
                                &.alert {
                                    text-transform: capitalize;
                                    border-radius: 0;
                                    margin-bottom: 0px;
                                    min-width: 100px;
                                    i {
                                        &.fas {
                                            margin-right: 10px;
                                            font-size: 16px !important;
                                        }
                                    }
                                    &.-alta {
                                        color: $red_alert;
                                    }
                                    &.-media {
                                        color: $blue_color;
                                    }
                                }
                                // &:first-child {
                                //     font-family: $bold;
                                //     width: 14%;
                                // }
                                // &:nth-child(4){
                                //     width: 15%;
                                // }
                                // &:nth-child(5){
                                //     width: 8%;
                                // }
                                // &:last-child {
                                //     width: 17%;
                                //     text-align: center;
                                // }
                            }
                            .ui-tbody-detail {
                                width: 180px;
                                i {
                                    &.fas {
                                        &:hover {
                                            color: $aqua_color;
                                        }
                                    }
                                }
                                &:first-child {
                                    font-family: $regular !important;
                                    width: 110px !important;
                                }
                                &:last-child {
                                    width: 35px !important;
                                }
                            }
                            .ui-tbody-trm {
                                width: 300px;
                                &:first-child {
                                    width: 200px;
                                }
                                &:nth-child(2) {
                                    width: 150px;
                                }
                                &:last-child {
                                    width: 35px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}