//Colors

$blue_color: #0033A0;
$aqua_color: #00aec7; 
$light_aqua_color: #32dcff;
$bg_aqua_color: #27aac5;
$gray_color: #9ea2a3;
$light_gray_color: #e2e2e2;
$text_color: #898b8b; 
$white_color: #fff;
$black_color: #333;
$bg_gray_color: #edf1f2;
$red_alert: #F10C0C;
$orange_alert: #FA8D07;
$bg_readonly_color: rgba(226,226,226,.3);

//Fonts

$bold: 'Roboto-Bold';
$regular: 'Roboto-Regular';
$light: 'Roboto-Light';

//Font-sizes

$h1: 24px;
$h2: 20px;
$text: 14px;

//media query

$landscape_smart: 670px;
$portrair_smart: 460px; 