<header>
  <div>
    <div class="menu-mobile" (click)="resMobile()">
      <i class="fas fa-bars" [ngClass]="{ 'fa-bars': !openMenu, 'fa-times': openMenu }"></i>
    </div>
    <div class="logo"></div>
    <h5>Gestión <span>Tarjetas Clientes</span></h5>
    <div class="user" (click)="showOptions($event)">
      <div class="name">
        <h5>Jhon Edison Arcila</h5>
        <h6><span class="bold">Última sesión:</span> 2019-03-08</h6>
      </div>
      <i class="fas fa-angle-down"></i>
      <div class="iconUser">
        <i class="fas fa-user-circle"></i>
      </div>
      <div class="userOptions" *ngIf="showOptionsUser">
        <div class="arrow"></div>
        <ul>
          <li class="mb-option">{{ user?.fullName }}</li>
          <li class="mb-option"><span class="bold">Última sesión:</span> {{ user?.lastAccess }}</li>
          <li>
            <a id="logout" href="{{user?.urlLogout}}">Cerrar sesión</a>
          </li>
          <li>
              <a id="logout" href="{{user?.fullUrlLogout}}">Salir</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</header>