<div class="wrap">
  <div class="container">
    <div class="tab-content">
      <div *ngIf="!tabForm" role="tabpanel" class="tab-pane fade in active" id="fieldRead">
        <div class="encabezado -ctm">
          <button class="button primary custom -back" (click)="confirm()">
            <i class="fas fa-angle-left"></i>
          </button>
          <h1>
            <span class="bold">Detalle del </span> Cliente</h1>
          <hr class="divider">
        </div>
        <div class="det-content">
          <div class="field col-sm-6 col-md-4">
            <div class="form-group">
              <label>Nombre:</label>
              <input type="text" alfabeticoTag maxlength="50" class="form-control" [(ngModel)]="cliente.nombre">
            </div>
          </div>                

          <div class="field col-sm-6 col-md-4">
            <div class="form-group">
              <label>Direccion:</label>
              <input type="text" class="form-control" [(ngModel)]="cliente.direccion">
            </div>
          </div>
          <div class="field col-sm-6 col-md-4">
            <div class="form-group">
              <label>Ciudad:</label>
              <input type="text" class="form-control" [(ngModel)]="cliente.ciudad">
            </div>
          </div>
          <div class="field col-sm-6 col-md-4">
            <div class="form-group">
              <label>Telefono:</label>
              <input type="text" appNumerosTag class="form-control" [(ngModel)]="cliente.telefono">
            </div>
          </div>          
          <div class="btn-cont">
            <div class="btn-cont">
              <button type="button" class="button primary save" (click)="enviar()">{{accion}}</button>              
            </div>            
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>