<app-header></app-header>
<div class="menuBar" [ngClass]="{'-open': isOpenMenu}">
  <ul class="li-top">
    <li tooltip="Gestionar clientes" placement="right">
      <a class="active" [routerLink]="['/lista-clientes']">
        <i class="fas fa-users"></i>
        <span class="borderRight"></span>
      </a>
    </li>
    <li tooltip="Gestionar tarjetas" placement="right">
      <a class="active" [routerLink]="['/lista-tarjetas']">
        <i class="far fa-credit-card"></i>
        <span class="borderRight"></span>
      </a>
    </li>     
  </ul>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<router-outlet></router-outlet>
